* {
  margin: 0;
  padding: 0px;
  font-family: "poppins", sans-serif;
  box-sizing: border-box;
}
.maindiv {
  width: 100%;
  height: 100vh;
  background: #e3f9ff;
}
#calculatorHeading {
  text-align: center;
  padding-top: 50px;
  font-size: 52px;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.calculator {
  background: #3a4452;
  padding: 20px;
  border-radius: 40px;
}
.calculator div input {
  border: 0;
  width: 60px;
  background: transparent;
  color: white;
}
.calculator div button {
  border: 0;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.2);
  background: transparent;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  margin: 10px;
}
div .display {
  display: flex;
  justify-content: flex-end;
  margin: 20px 0px;
  color: white;
}
div .display input {
  text-align: right;
  flex: 1;
  font-size: 45px;
  box-shadow: none;
}
div button.equal {
  width: 145px;
  background-color: #fb7c14;
}
